<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="center-block text-center text-instruction-header">
        <span class="highlighter">Ikuti Instruksi Di Bawah Ini</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img class="img-instruction img-responsive center-block" src ="http://placehold.it/200x100/00ac80/ffffff">
      <p class="text-center center-block text-instruction persona-dark-text">
        Kuis ini ditujukan untuk menghibur, sekaligus membuka wawasan akan karakter dalam diri.
      </p>
    </div>
    <div class="col-sm-4">
      <img class="img-instruction img-responsive center-block" src ="http://placehold.it/200x100/00ac80/ffffff">
      <p class="text-center center-block text-instruction persona-dark-text">
        Beri tanda centang pada kotak pernyataan yang sesuai dengan sikap dan tingkah laku keseharianmu.
      </p>
    </div>
    <div class="col-sm-4">
      <img class="img-instruction img-responsive center-block" src ="http://placehold.it/200x100/00ac80/ffffff">
      <p class="text-center center-block text-instruction persona-dark-text">
        Selesaikan dalam waktu ±10 menit.<br><br>
        <strong>Selamat mencoba!</strong>
      </p>
    </div>
  </div>
</div>