<div class="col-xs-4 text-right">
    <a ng-click="detailCtrl.previous();" id="l-car-button" class="btn carousel-button" role="button">
    &lt;
    </a>
</div>
<div class="col-xs-4">
    <div ng-switch="detailCtrl.current">
        <div ng-switch-when="1">
            <h3 class="text-center">Tipe 1</h3>
        </div>
        <div ng-switch-when="2">
            <h3 class="text-center">Tipe 2</h3>
        </div>
        <div ng-switch-when="3">
            <h3 class="text-center">Tipe 3</h3>
        </div>
        <div ng-switch-when="4">
            <h3 class="text-center">Tipe 4</h3>
        </div>
        <div ng-switch-when="5">
            <h3 class="text-center">Tipe 5</h3>
        </div>
        <div ng-switch-when="6">
            <h3 class="text-center">Tipe 6</h3>
        </div>
        <div ng-switch-when="7">
            <h3 class="text-center">Tipe 7</h3>
        </div>
        <div ng-switch-when="8">
            <h3 class="text-center">Tipe 8</h3>
        </div>
        <div ng-switch-when="9">
            <h3 class="text-center">Tipe 9</h3>
        </div>
    </div>
</div>
<div class="col-xs-4 text-left">
    <a ng-click="detailCtrl.next();" id="r-car-button" class="btn carousel-button">
    &gt;
    </a>
</div>