/*----------------*\
Global
\*----------------*/
body { 
	padding-top: 50px;
}

/*----------------*\
Navigation bar
\*----------------*/
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-toggle {
	border: none;
	outline: 0 none;
	background-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: transparent !important;
}

.navbar-toggle .icon-bar {
	transition: all 0.2s;
}

.navbar-toggle .top-bar {
	transform: rotate(-45deg);
	transform-origin: 90% 10%;
}

.navbar-toggle .middle-bar {
	opacity: 0;
	transform: translateX(22px);
}
.navbar-toggle .bottom-bar {
	transform: rotate(45deg);
	transform-origin: 90% 90%;
}

.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1; 
	transform: translateX(0px);
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}

/*----------------*\
Jumbotron
\*----------------*/
.jumbotron {
	background-color: #F1F1F2; 
}

#hero-logo {
	vertical-align: middle;
	text-align: center;
	padding: 1em;
}

/*----------------*\
Buttons
\*----------------*/
.btn {
	color: #F1F1F2;
	background-color: #F05E4C;
	border: 0 none;
	text-align: center;
}

.btn-primary {
	vertical-align: middle;
}