.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#navbar-hamburger, #navbar-close {
  width: 22px;
  height: 16px;
}

body { 
  padding-top: 70px;
}