/*----------------*\
Global
\*----------------*/

body { 
	padding-top: 50px;
	font-family: "Cabin";
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Roboto Slab";
    font-weight: 700;
}

h1 {
	
}

.menuFont {
	font-family: "Jaapokki Regular";
	font-size: 160%;
}

.img-responsive {
	padding: 1em;
}

/*----------------*\
Buttons - Global
\*----------------*/
.btn {
	color: #F1F1F2;
	background-color: #00AC80;
	border: 0 none;
	text-align: center;
	border-radius: 0.5em;
}

.btn:hover {
	background-color: #009B70;
	color: #F1F1F2;
}

.btn-primary {
	background-color: #EF5E4C;
	vertical-align: middle;
	padding: 1% 5% 1% 5%;
}

.btn-primary:hover {
background-color: #DE4D3B;
}

/*----------------*\
Navigation bar
\*----------------*/
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-toggle {
	border: none;
	outline: 0 none;
	background-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: transparent !important;
}

.navbar-toggle .icon-bar {
	transition: all 0.2s;
}

.navbar-toggle .top-bar {
	transform: rotate(-45deg);
	transform-origin: 90% 10%;
}

.navbar-toggle .middle-bar {
	opacity: 0;
	transform: translateX(22px);
}
.navbar-toggle .bottom-bar {
	transform: rotate(45deg);
	transform-origin: 90% 90%;
}

.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1; 
	transform: translateX(0px);
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}

/*----------------*\
Jumbotron
\*----------------*/
.jumbotron {
	background-color: #F1F1F2; 
}

#hero-logo {
	vertical-align: middle;
}

/*----------------*\
Quiz content
\*----------------*/

.instruction {
	padding: 1% 30% 1% 30%;
}

.quizPage {
	width: 80%;
	max-width: 750px;
	background-color: #F1F1F2;
	border: 0 none;
	margin: 0 auto;
	border-radius: 1em;
	padding: 1em;
}

#genderChooser input{
	visibility:hidden;
	position: absolute;
}

#genderChooser input + img {
	cursor: pointer;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

#genderChooser img:hover{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

#genderChooser input:checked + img {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}