<div class="container quizContainer">
  <div class="row">
    <div class="col-xs-12 quizHeader">
      <h3 class="text-center">
      
      </h3>
    </div>
  </div>
  <div class="row chooser quizContent">
    <div class="col-xs-12 col-sm-6 text-center">
      <label class="left-content">
        <input type="radio" name="question1" value="1" />
        <img class="img-responsive center-block questionPic" src="http://placehold.it/320x320/00ac80/ffffff">
        <p class="answerP">
          
        </p>
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <label class="right-content">
        <input type="radio" name="question1" value="2">
        <img class="img-responsive center-block questionPic" src="http://placehold.it/320x320/00ac80/ffffff">
        <p class="answerP">
          
        </p>
      </label>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="1"
            aria-valuemin="1" aria-valuemax="36" style="width: 2.77%;">
            <span class="sr-only">1 dari 36</span>
          </div>
        </div>
        <p class="text-center headText">
          <strong>2.77%</strong>
        </p>
      </div>
    </div>
  </div>
</div>