<div class="container quizContainer">
  <div class="row">
    <div class="col-xs-12 quizHeader">
      <h3 class="text-center">
        {{question.question}}
      </h3>
    </div>
  </div>
  <div class="row chooser quizContent">
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="left-content" ng-click="quiz.setAnswer(0);quiz.showNextQuestion()">
        <input type="radio" name="question1" value="1" />
        <img class="img-responsive center-block questionPic" ng-src="{{question.picture[0]}}">
        <p class="answerP">
          {{question.answer[0]}}
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="right-content" ng-click="quiz.setAnswer(1);quiz.showNextQuestion()">
        <input type="radio" name="question1" value="2">
        <img class="img-responsive center-block questionPic" ng-src="{{question.picture[1]}}">
        <p class="answerP">
          {{question.answer[1]}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="1"
            aria-valuemin="1" aria-valuemax="36" ng-style="{width: question.number / 36 * 100 + '%'}">
            <span class="sr-only">{{question.number}} dari 36</span>
          </div>
        </div>
        <p class="text-center headText">
          <strong>{{question.number / 36 * 100 | number : 0 }}%</strong>
        </p>
      </div>
    </div>
  </div>
</div>