<div class="container quizContainer">
  <div class="row">
    <div class="col-xs-12 quizHeader">
      <h3 class="text-center">Gender Kamu?</h3>
    </div>
  </div>
  <div class="row chooser quizContent">
    <input type="radio" name="gender" value="" checked="checked" />
    <div class="col-xs-6">
      <label class="left-gender-content" ng-click="quiz.setGender('male')">
        <input type="radio" name="gender" value="male" />
        <img class="img-responsive center-block" src="http://placehold.it/320x500/00ac80/ffffff">
      </label>
    </div>
    <div class="col-xs-6">
      <label class="right-gender-content" ng-click="quiz.setGender('female')">
        <input type="radio" name="gender" value="female" />
        <img class="img-responsive center-block" src="http://placehold.it/320x500/ff3333/ffffff">
      </label>
    </div>
    <div class="col-xs-12">
      <div class="text-center">
        <a class="btn nextButton" href="#" role="button" ng-click="quiz.showNextQuestion()">
          selanjutnya &gt;
        </a>
      </div>
    </div>
  </div>
</div>